@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'Markdisc';
    src: url('../fonts/markdisc-regular.otf') format('truetype');
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    color: #171717;
    background-color: #EDEDED;
}

p {
    margin: 0;
    background-color: transparent;
}

a {
    background-color: transparent;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 10;
    padding-right: 20px;
    height: 60px;
}

#fate_icon {
    height: 7vh;
    padding: 0 12px;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#burger_menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    color: #DA0037;
    background-color: transparent;
    border: none;
}

#burger_menu:hover {
    color: #ff0044;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(12px);
    padding: 8px 20px;
    border-bottom-right-radius: 16px;
}

#nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}

.navbar li {
    padding: 10px 12px;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    background-color: transparent;
}

.navbar a {
    text-decoration: none;
    background-color: transparent;
    font-family: 'Markdisc';
    color: #DA0037;
}

.welcome {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    height: 92vh;
    position: relative;
    padding: 0px 100px;
}

.title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    margin: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.title h1 {
    font-family: 'Markdisc';
    font-size: 100px;
    text-align: left;
    pointer-events: none;
    background-color: transparent;
    width: 100%;
    margin: 0 75px;
    letter-spacing: -5px;
    color: #DA0037;
}

.title h3 {
    font-family: 'Markdisc';
    z-index: 1;
    font-size: 50px;
    text-align: left;
    pointer-events: none;
    background-color: transparent;
    width: 100%;
    margin: 0 90px;
    letter-spacing: -8px;
}

#quote {
    font-style: italic;
    padding: 10px 0;
}

.quotation {
    font-size: 20px;
    font-weight: bold;

}

.welcome_images {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 2;
}

.welcome_content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 88px;
    padding-left: 12px;
    padding-right: 12px;
}

.text-right {
    text-align: right;
}

#saber_alter {
    height: 100vh;
    background-color: transparent;
    z-index: 2;
}

.menu {
    background-color: transparent;
}

.bold {
    font-weight: bold;
    color: #DA0037;
}

.title_bold {
    font-weight: bold;
    color: #DA0037;
    font-family: 'Markdisc';
    margin: 0;
}

.saber_figure {
    height: 60vh;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 12px 22px;
}

.divider_content {
    height: 20px;
    background-color: #DA0037;
    margin-top: 16px;
    border-radius: 12px;
}

.article {
    flex: 2;
}

.article_item h2 {
    font-family: 'Markdisc';
    font-weight: bold;
    color: #DA0037;
}

.aside {
    border: 2px solid #171717;
    border-radius: 8px;
    padding: 6px 0px;
    height: fit-content;
}

.aside figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside figure h2 {
    text-align: center;
    margin-bottom: 8px;
}

.table-title {
    text-align: center;
    background-color: #171717;
    color: #EDEDED;
    padding: 8px 0;
    margin-bottom: 12px;
}

.table-title h3 {
    background-color: #171717;
    color: #EDEDED;
    text-align: center;
    margin: 0;
    font-family: 'Markdisc';
}

.aside table {
    padding: 0;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

.aside table th, .aside table td {
    text-align: left;
    vertical-align: top;
    padding-right: 12px;
    padding-left: 12px;
}

footer {
    padding: 20px;
    background-color: #444444;
    color: transparent;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer p {
    color: #EDEDED;
}



@media screen and (max-width: 1400px) {
    .title h1 {
         font-size: 75px;
         margin: 0 50px;
    }

    .welcome_content {
        padding-bottom: 20px;
    }

    .welcome {
        padding: 0 70px;
    }
}

@media screen and (max-width: 1200px) {

    #saber_alter {
    height: 85vh;
    }

    .welcome {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1000px) {

    .welcome {
        height: auto;
        padding: 0 25px;
    }

    .content {
        flex-direction: column;
    }

    .title {
        width: 50%;
        left: 24%;
        top: 150px;
    }

    .title h1 {
         font-size: 50px;
         margin: 0 12px;
    }

    .title h3 {
        font-size: 28px;
        margin: 0 12px;
        letter-spacing: 0px;
    }

    #content_1 {
        order: 2;
    }

    .welcome_content {
        z-index: 2;
        gap: 35px;
        background-color: transparent;
    }

    #saber_alter {
        order:  1;
        padding-right: 25px;
    }
}

@media screen and (max-width: 768px) {
    .welcome {
        flex-direction: column;
        align-items: center;
    }

    #burger_menu {
        display: block;
    }

    header {
        background-color: #EDEDED;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        background-color: #EDEDED;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        z-index: 99;
    }
    
    .menu.overlay {
        display: block;
    }
    
    .menu #nav_list {
        flex-direction: column;
        padding: 20px 0;
        backdrop-filter: blur(12px);
    }
    
    .menu .navbar li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
    }

    .title {
        width: 100%;
        left: 50%;
        top: 110px;
    }

    .title h1 {
         font-size: 75px;
         margin: 0 12px;
    }

    .title h3 {
        font-size: 35px;
        margin: 0 12px;
        letter-spacing: 0px;
    }

    #saber_alter {
        order:  1;
        padding-right: 0;
    }
} 

@media screen and (max-width: 615px) {
    .title h1 {
         font-size: 52px;
         margin: 0 12px;
    }

    .title h3 {
        font-size: 25px;
        margin: 0 12px;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 400px) {
    .title h1 {
         font-size: 46px;
    }

    #saber_alter {
    height: 75vh;
    }
}

